@import "colors";
@import "fonts";


%body-defaults {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--background-color);
    ::selection{
        @extend %highlight-defaults;
    }
    a{
        @extend %link-defaults;
    }
    p {
        @extend %paragraph-defaults;
    }
    h1, h2, h3, h4, h5, h6 {
        @extend %heading-defaults;
    }
    caption{
        @extend %caption-defaults;
    }
}

%highlight-defaults {
    color: var(--paragraph-color);
    background: var(--accent-color);
}

%link-defaults {
    text-decoration: none;
    color: var(--paragraph-color);
    cursor: pointer;
    &:hover {
        background-color: var(--accent-color);
    }
    &:active {
        cursor: default;
        &:hover{
            background-color: rgb(34, 34, 34);
        }
    }
}

%heading-defaults {
    color: var(--heading-color);
    @extend %heading-font;
}

%paragraph-defaults {
    max-width: 70ch;
    color: var(--paragraph-color);
    @extend %paragraph-font;
}


%caption-defaults {
    max-width: 70ch;
    color: var(--caption-color);
    font-style: italic;
    opacity: 0.8;
    @extend %paragraph-font;
}
