@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

@font-face { font-family: "Have Heart One"; src: url("/Assets/Have\ Heart\ One.otf"); } 


$roboto-stack:"Roboto", sans-serif;
$roboto-slab-stack: "Roboto Slab", serif;
$dosis-stack: 'Dosis', sans-serif;
$logo-stack: "Have Heart One";

%paragraph-font {
    font-family: $roboto-stack;
}

%heading-font {
    font-family: $roboto-slab-stack;
}

%nav-font {
    font-family: $dosis-stack;
}

%logo-font {
    font-family: $logo-stack;
    font-feature-settings: "salt"; 
}