%tech-icons{
    text-align: right;
    i {
        padding: 0.5rem 1rem 1rem 1rem;
        font-size: 2rem;
    }

    .jsIcon {
        color: yellow;
    }

    .sassIcon {
        color: salmon;
    }

    .htmlIcon {
        color: orange;
    } 
    .reactIcon{
        color: rgb(71, 186, 240);
    }
    .pythonIcon{
        color:#FFD43B;
    }
}
