@import "responsive";
@import "default";
@import "fonts";
@import "tech-icons";

body{
    @extend %body-defaults; // a, p, h, ::selec, caption
}

.techIcons{
    @extend %tech-icons;
}

#disasterTrackerSection:hover{
    cursor: pointer;
    box-shadow: 0 0 30px var(--accent-color);     
}

#asideSocialLinks{
    a{
        display: block;
    }
}

.introsectionMain {
    width: 70%;
    background-color: rgb(8, 8, 8);
    border: 1px solid rgba(49, 49, 49, 0.7);
}

#top {
    display: flex; 
    align-items: center; 
    h1 {
        @extend %logo-font;
        font-size: 2.5rem;
        margin-left: 7.5vw;
        font-style: italic;
    }
    nav {
        margin-right: 7.5vw;
        @extend %nav-font;
        font-size: 1rem;
        letter-spacing: 0.4rem;
    }
}

.projLinks{
    margin: 1rem;
    a{
        i {
            color: rgb(184, 184, 184);
            font-size: 1.4rem;
            background-color: rgb(15, 15, 15);
            padding: 1rem 1rem;
            &:hover{
                background-color: rgb(255, 0, 85);
                color: white;
                fill: white;
            }
        }
    }
}

#asideSocialLinks{
    z-index: 2;
    position: absolute;
    display: flex;
    i {
        padding: 1rem;
        font-size: 1.4rem;
        color: white;
    }
}

.selectedBtn{
    border: 1px solid rgba(255, 255, 255,0.1);
    color: rgb(143, 143, 143);
    cursor:default;
    &:hover{
        background-color: rgb(34, 34, 34);
    }
}

#underwork{
    width: 70%;
    margin: 3rem auto;
    p{
        text-align: center;
    }
}
canvas{
    opacity: 0.21;
    
}

@include small-width {
    #top{
        height: 10vh;
        nav{
            display: none;
            flex-direction: column;
            background-color: var(--background-color);
            z-index: 2;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            text-align: center;
            justify-content: space-evenly;
            a, span{
                padding: 11vh;
            }
            .selectedBtn{
                border: none;
            }
            
            svg{
                display: block !important;
                stroke: white;
                width: 1.5rem;
                stroke-width: 0.18rem;
            }
        }
    }
    .hamburger{
        display: block;
        margin-right: 7.5vw;
        z-index: 7;
        padding: 0.6rem;
        &:hover{
            background-color: rgb(82, 82, 82);
        }
    }
    .introsectionMain {
        padding: 2rem;
        margin: 1rem auto;
        header{
            text-align: center;
        }
    }
    

    .introArticle {
        display: flex;
        height: 100%;
        align-items: center;
    }

    header h1 {
        margin: 0;
        font-weight: normal;
        font-size: 4rem;
    }

    #asideSocialLinks{
        margin: 3rem 0 1rem 0;
        justify-content: space-evenly;
        width: 100vw;
    }
    .techIcons{
        text-align: center;
    }
}


@include small-min{
    #top{
        height: 15vh;
        nav {
            margin-right: 7.5vw;
            flex-grow: 90;
            font-family: 'Dosis', sans-serif;
            text-align: right;
            font-size: 1rem;
            letter-spacing: 0.4rem;
            a, span{
                color: white;
                margin-right: -0.4rem;
                padding: 1rem 0.6rem 1rem 1rem;
            }
            a:nth-child(3){
                padding: 1rem 0rem 1rem 1rem;
                margin-right: 0.02rem;
            }
        }
    }
    .hamburger{
        display: none;
    }
    .introsectionMain {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 800px;
        margin: 0 auto 3rem auto;
        padding: 3rem;
        .tooBigH1{
            font-size: 4rem;
        }
    }
    .introSection {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
    }
    header > h1 {
        margin: 0;
        text-align: right;
        font-weight: normal;
        font-size: 6rem;
    }
    .projLinks{
        text-align: right;
    }
    .introArticle {
        display: flex;
        height: 100%;
        align-items: center;
        margin: 1rem 0 0 4rem;
    }

    .DistArticle{
        margin-left: 4rem;
    }

    #asideSocialLinks{
        top: 0;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        left: 0;
    }
}