@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
@font-face {
  font-family: "Have Heart One1";
  src: url("/Assets/Have Heart One.otf");
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  font-family: 'Roboto Slab', serif;
  color: white;
  overflow-x: hidden;
}

body ::-moz-selection {
  color: white;
  background: #ff0080;
}

body ::selection {
  color: white;
  background: #ff0080;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  #top {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #top h1 {
    font-size: 2.5rem;
    margin-left: 7.5vw;
    -webkit-font-feature-settings: "salt";
            font-feature-settings: "salt";
    font-family: "Have Heart One";
    font-style: italic;
  }
  #top nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #top nav a, #top nav span {
    padding: 11vh;
  }
  #top nav .selectedBtn {
    border: none;
  }
  #top button {
    display: block;
    margin-right: 7.5vw;
    z-index: 6;
    padding: 0.6rem;
  }
  #top button:hover {
    background-color: #525252;
  }
  #top svg {
    display: block !important;
    stroke: white;
    width: 1.5rem;
    stroke-width: 0.18rem;
  }
  .introsectionMain {
    width: 70%;
    background-color: #080808;
    border: 1px solid rgba(49, 49, 49, 0.7);
    padding: 2rem;
    margin: 1rem;
  }
  .introsectionMain header {
    text-align: center;
  }
  #disasterTrackerSection:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 30px #ff0080;
            box-shadow: 0 0 30px #ff0080;
  }
  .introArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introArticle p {
    max-width: 70ch;
    font-family: "Roboto";
  }
  #roleStat {
    position: absolute;
    right: 0;
    margin-right: 10vw;
    font-family: 'Dosis', sans-serif;
    top: 16vh;
    padding: 1rem 0.5rem 1rem 1rem;
    background-color: #ff0055;
    opacity: 0.9;
    letter-spacing: 0.5rem;
  }
  header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 4rem;
  }
  header .techIcons i {
    padding: 0.5rem 1rem 1rem 1rem;
    font-size: 2rem;
  }
  header .techIcons .jsIcon {
    color: yellow;
  }
  header .techIcons .sassIcon {
    color: salmon;
  }
  header .techIcons .htmlIcon {
    color: orange;
  }
  header .techIcons .reactIcon {
    color: #47baf0;
  }
  header .techIcons .pythonIcon {
    color: #FFD43B;
  }
  .projLinks {
    margin: 1rem;
  }
  .projLinks a {
    cursor: pointer;
  }
  .projLinks a i {
    color: #b8b8b8;
    font-size: 1.4rem;
    background-color: #0f0f0f;
    padding: 1rem 1rem;
  }
  .projLinks a i:hover {
    background-color: #ff0055;
    color: white;
    fill: white;
  }
  #asideSocialLinks {
    margin: 3rem 0 1rem 0;
    z-index: 2;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100vw;
  }
  #asideSocialLinks a {
    display: block;
  }
  #asideSocialLinks h1 {
    font-family: "Have Heart One1";
    -webkit-font-feature-settings: "salt";
            font-feature-settings: "salt";
    display: inline;
    padding: 2rem;
    font-size: 3rem;
  }
  #asideSocialLinks i {
    padding: 1rem;
    font-size: 1.4rem;
    color: white;
  }
  #asideSocialLinks img {
    width: 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #top {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #top h1 {
    font-size: 2.5rem;
    margin-left: 7.5vw;
    -webkit-font-feature-settings: "salt";
            font-feature-settings: "salt";
    font-family: "Have Heart One";
    font-style: italic;
  }
  #top nav {
    margin-right: 7.5vw;
    -webkit-box-flex: 90;
        -ms-flex-positive: 90;
            flex-grow: 90;
    font-family: 'Dosis', sans-serif;
    text-align: right;
    font-size: 1rem;
    letter-spacing: 0.4rem;
  }
  #top nav a, #top nav span {
    margin-right: -0.4rem;
    color: white;
    text-decoration: none;
    padding: 1rem 0.6rem 1rem 1rem;
  }
  #top nav a:hover, #top nav span:hover {
    background: #ff0080;
  }
  #top nav a:nth-child(3) {
    padding: 1rem 0rem 1rem 1rem;
    margin-right: 0.02rem;
  }
  #top .hamburger {
    display: none;
  }
  .introsectionMain {
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 70%;
    margin: 0 auto 3rem auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #080808;
    border: 1px solid rgba(49, 49, 49, 0.7);
    padding: 3rem;
  }
  .introsectionMain .tooBigH1 {
    font-size: 4rem;
  }
  #disasterTrackerSection:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 30px #ff0080;
            box-shadow: 0 0 30px #ff0080;
  }
  .introSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 70%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #roleStat {
    position: absolute;
    right: 0;
    margin-right: 10vw;
    font-family: 'Dosis', sans-serif;
    top: 16vh;
    padding: 1rem 0.5rem 1rem 1rem;
    background-color: #ff0055;
    opacity: 0.9;
    letter-spacing: 0.5rem;
  }
  header h1 {
    margin: 0;
    text-align: right;
    font-weight: normal;
    font-size: 6rem;
  }
  header .techIcons {
    text-align: right;
  }
  header .techIcons i {
    padding: 1rem;
    font-size: 2rem;
  }
  header .techIcons .jsIcon {
    color: yellow;
  }
  header .techIcons .sassIcon {
    color: salmon;
  }
  header .techIcons .htmlIcon {
    color: orange;
  }
  header .techIcons .reactIcon {
    color: #47baf0;
  }
  header .techIcons .pythonIcon {
    color: #FFD43B;
  }
  header .techIcons div {
    margin: 1rem;
  }
  .projLinks {
    margin: 1rem;
    text-align: right;
  }
  .projLinks a {
    cursor: pointer;
  }
  .projLinks a i {
    color: #b8b8b8;
    font-size: 1.4rem;
    background-color: #0f0f0f;
    padding: 1rem 1rem;
  }
  .projLinks a i:hover {
    background-color: #ff0055;
    color: white;
    fill: white;
  }
  .introArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0 0 4rem;
  }
  .introArticle p {
    max-width: 70ch;
    font-family: "Roboto";
  }
  .DistArticle {
    margin-left: 4rem;
  }
  .DistArticle p {
    max-width: 70ch;
  }
  #asideSocialLinks {
    top: 0;
    z-index: 2;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    left: 0;
  }
  #asideSocialLinks a {
    display: block;
  }
  #asideSocialLinks h1 {
    font-family: "Have Heart One1";
    -webkit-font-feature-settings: "salt";
            font-feature-settings: "salt";
    display: inline;
    padding: 2rem;
    font-size: 3rem;
  }
  #asideSocialLinks i {
    padding: 1rem;
    font-size: 1.4rem;
    color: white;
  }
  #asideSocialLinks img {
    width: 4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top button {
  border: none;
  background-color: transparent;
}

.top h1 {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  margin-left: 7.5vw;
  -webkit-font-feature-settings: "salt";
          font-feature-settings: "salt";
  font-family: "Have Heart One";
  font-style: italic;
  position: relative;
}

nav {
  margin-right: 7.5vw;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4rem;
}

nav a, nav span {
  margin-right: -0.4rem;
  color: white;
  text-decoration: none;
}

nav a:hover, nav span:hover {
  background: #ff0080;
}

.selectedBtn {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #8f8f8f;
  cursor: default;
}

.selectedBtn:hover {
  background-color: #222222;
}

a {
  border: none;
  background-color: transparent;
}

a:hover {
  background-color: #ff0055;
}

a:hover i, a:hover svg {
  color: white;
  fill: white;
}

#splashImg {
  text-align: center;
}

#splashImg img {
  width: 70%;
  margin: 2rem auto;
}

#underwork {
  width: 70%;
  margin: 3rem auto;
}

#underwork p {
  text-align: center;
}
/*# sourceMappingURL=styles3.css.map */